<p>Review your answers, and submit if satisfied.</p>
<h2>What is your name? </h2></br>
<%= @values["name"] %>
<h2>What is your email? </h2></br>
<%= @values["contact"] %>
<h2>What is the severity? </h2></br>
<%= @values["severity"] %>
<%= form_with( scope: :threat, url: "progress", local: true) do |form| %>
  <p>
    <%= form.submit "SUBMIT"%>
  </p>
<% end %>

